name: CMake

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Check CMake
      uses: actions/github-script@v7
      with:
        script: |
          let path = require('path');
          let fs = require('fs').promises;
          let patterns = ['**/glow/*.cpp', '**/glow/*.h'];
          let globber = await glob.create(patterns.join('\n'));
          let cmakeContents = await fs.readFile('CMakeLists.txt', 'utf-8');
          for await (let file of globber.globGenerator()) {
            let basename = path.basename(file);
            if (cmakeContents.search(basename) == -1) {
              core.setFailed(`${basename} is missing in CMakeLists.txt`);
            }
          }
  build:
    needs: check
    strategy:
      matrix:
        triplet: [x86-windows, x64-windows, x64-linux, x64-macos]
        include:
          - triplet: x86-windows
            system: windows-latest
          - triplet: x64-windows
            system: windows-latest
          - triplet: x64-linux
            system: ubuntu-latest
          - triplet: x64-macos
            system: macos-latest
    runs-on: ${{ matrix.system }}
    env:
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Linux system deps (glew)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
          libxmu-dev libxi-dev libgl-dev
    - name: Install CMake
      uses: lukka/get-cmake@latest
    - name: Restore from cache and install vcpkg
      uses: lukka/run-vcpkg@v10
      with:
        vcpkgGitCommitId: e7d7451462697d77ef319ddf2da8ff7320a82662
    - name: Build
      uses: lukka/run-cmake@v10
      with:
        configurePreset: 'ninja'
        buildPreset: 'ninja'